{include file="public/meta"}

<title>添加管理员 - 管理员管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-admin-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$nav.nav_title}" placeholder="" id="adminName" name="nav_title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>导航链接：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$nav.nav_url}" placeholder="" id="adminName" name="nav_url">
            </div>
        </div>

        <div class="mt-20 skin-minimal">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>导航位置：</label>
            <div class="radio-box">
                <input type="radio" id="radio-1" value="header" name="nav_location" {if $nav.nav_location eq 'header'}checked{/if}>
                <label for="radio-1" >头部</label>
            </div>
            <div class="radio-box">
                <input type="radio" id="radio-2" value="middle" name="nav_location" {if $nav.nav_location eq 'middle'}checked{/if}>
                <label for="radio-2">中部</label>
            </div>
            <div class="radio-box">
                <input type="radio" id="radio-2" value="footer" name="nav_location" {if $nav.nav_location eq 'footer'}checked{/if}>
                <label for="radio-2">底部</label>
            </div>

        </div>

        <div class="mt-20 skin-minimal">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新窗口打开：</label>
            <div class="radio-box">
                <input type="radio" id="radio-1" name="nav_new_open" value="1" {if condition="$nav.nav_new_open eq 1"}checked{/if}>
                <label for="radio-1">是</label>
            </div>
            <div class="radio-box">
                <input type="radio" id="radio-2" name="nav_new_open" value="0" {if condition="$nav.nav_new_open eq 0"}checked{/if}>
                <label for="radio-2">否</label>
            </div>
        </div>

        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>排序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" value="{$nav.nav_sort}" placeholder="" id="password" name="nav_sort">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

{include file="public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-admin-add").validate({
            rules:{
                adminName:{
                    required:true,
                    minlength:4,
                    maxlength:16
                },
                password:{
                    required:true,
                },
                password2:{
                    required:true,
                    equalTo: "#password"
                },
                sex:{
                    required:true,
                },
                phone:{
                    required:true,
                    isPhone:true,
                },
                email:{
                    required:true,
                    email:true,
                },
                adminRole:{
                    required:true,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit();
                var index = parent.layer.getFrameIndex(window.name);
                parent.$('.btn-refresh').click();
                parent.layer.close(index);
            }
        });
    });


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>