<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">

    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 控制台<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="article-list.html" title="资讯管理">欢迎界面</a></li>
                    <li><a href="article-list.html" title="资讯管理">站点设置</a></li>
                    <li><a href="article-list.html" title="资讯管理">会员管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="picture-list.html" title="图片管理">站点设置</a></li>
                    <li><a href="picture-list.html" title="图片管理">账号同步</a></li>
                    <li><a href="picture-list.html" title="图片管理">上传设置</a></li>
                    <li><a href="picture-list.html" title="图片管理">SEO设置</a></li>
                    <li><a href="picture-list.html" title="图片管理">邮箱短信</a></li>
                    <li><a href="picture-list.html" title="图片管理">支付方式</a></li>
                    <li><a href="picture-list.html" title="图片管理">权限设置</a></li>
                    <li><a href="picture-list.html" title="图片管理">快递公司</a></li>
                    <li><a href="picture-list.html" title="图片管理">运单模版</a></li>
                    <li><a href="picture-list.html" title="图片管理">地区管理</a></li>
                    <li><a href="picture-list.html" title="图片管理">数据备份</a></li>
                    <li><a href="picture-list.html" title="图片管理">操作日志</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="product-brand.html" title="品牌管理">会员管理</a></li>
                    <li><a href="product-category.html" title="分类管理">会员等级</a></li>
                    <li><a href="product-list.html" title="产品管理">经验值管理</a></li>
                    <li><a href="product-list.html" title="产品管理">会员通知</a></li>
                    <li><a href="product-list.html" title="产品管理">积分管理</a></li>
                    <li><a href="product-list.html" title="产品管理">预存款</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe622;</i> 商品<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="http://h-ui.duoshuo.com/admin/" title="评论列表">商品分类</a></li>
                    <li><a href="feedback-list.html" title="意见反馈">品牌管理</a></li>
                    <li><a href="" title="">商品管理</a></li>
                    <li><a href="" title="">类型管理</a></li>
                    <li><a href="" title="">规格管理</a></li>
                    <li><a href="" title="">地区管理</a></li>
                    <li><a href="" title="">空间管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 交易<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="member-list.html" title="会员列表">发货管理</a></li>
                    <li><a href="member-del.html" title="删除的会员">实物订单</a></li>
                    <li><a href="member-level.html" title="等级管理">虚拟订单</a></li>
                    <li><a href="member-scoreoperation.html" title="积分管理">退款管理</a></li>
                    <li><a href="member-record-browse.html" title="浏览记录">退货管理</a></li>
                    <li><a href="member-record-download.html" title="下载记录">虚拟订单退款</a></li>
                    <li><a href="" title="">咨询管理</a></li>
                    <li><a href="" title="">举报管理</a></li>
                    <li><a href="" title="">评价管理</a></li>
                    <li><a href="" title="">发货设置</a></li>
                    <li><a href="" title="">售卖区域</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i>网站<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="{:url('Articleclass/index')}" >文章分类</a></li>
                    <li><a href="{:url('Article/index')}" >文章管理</a></li>
                    <li><a href="{:url('Document/index')}" title="管理员列表">会员协议</a></li>
                    <li><a href="{:url('Navigation/index')}" title="">导航管理</a></li>
                    <li><a href="" title="">广告管理</a></li>
                    <li><a href="" title="">友情链接</a></li>
                    <li><a href="" title="">平台客服</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tongji">
            <dt><i class="Hui-iconfont">&#xe61a;</i>营销<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="">基本设置</a></li>
                    <li><a href="" title="">分销设置</a></li>
                    <li><a href="" title="">抢购管理</a></li>
                    <li><a href="" title="">虚拟抢购设置</a></li>
                    <li><a href="" title="">拼团管理</a></li>
                    <li><a href="" title="">限时折扣</a></li>
                    <li><a href="" title="">满即送</a></li>
                    <li><a href="" title="">优惠套装</a></li>
                    <li><a href="" title="">代金卷</a></li>
                    <li><a href="" title="">活动管理</a></li>
                    <li><a href="" title="">兑换礼品</a></li>
                    <li><a href="" title="">平台充值卡</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="">概述及设置</a></li>
                    <li><a href="" title="">行业分析</a></li>
                    <li><a href="" title="">会员统计</a></li>
                    <li><a href="" title="">销量分析</a></li>
                    <li><a href="" title="">商品分析</a></li>
                    <li><a href="" title="">市场分析</a></li>
                    <li><a href="" title="">售后分析</a></li>

                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 手机端<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="">分类图片设置</a></li>
                    <li><a href="" title="">意见反馈</a></li>
                    <li><a href="" title="">APP广告</a></li>

                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 公众号配置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a href="" title="">公众号配置</a></li>
                    <li><a href="" title="">微信菜单</a></li>
                    <li><a href="" title="">关键字回复</a></li>
                    <li><a href="" title="">绑定列表</a></li>
                    <li><a href="" title="">消息推送</a></li>

                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->